* {
    margin: 0;
    padding: 0;
    --color-white: #E8F1F2;
    --color-background: #1B98E0;
    --color-lapis: #247BA0;
    --color-sea-blue: #006494;
    --color-yankees-blue: #13293D;
    color: var(--color-white);
}

body {
    background-color: var(--color-background);
}

#sidebar {
    color: var(--kolor-white);
    position: fixed;
    height: 100vh;
    width: 250px;
    background-color: var(--color-yankees-blue);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    transition: 1s;
    transform: translateX(0)px;
}

#arrow {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 10px;
    right: 15px;
}

#avatar {
    width: 70px;
    height: 70px;
    background-color: grey;
    border-radius: 100%;
    margin: 90px auto 45px auto;
}

li {
    margin: 10px 0px 10px 0px;
    display: block;
    padding-left: 20px;
}

li > a{ 
    text-decoration: none;
    font-size: 30px;
}

li:hover {
    background-color:  var(--color-lapis);
}

a:visited {
    color: var(--kolor-tekstu);
}

li .icon {
    height: 25px;
    width: 25px;
    padding-right: 7px;
}

#sidebar #logo {
    height: 50px;
    width: 50px;
    display: block;
    margin: auto auto 40px auto;
}

.hide {
    transition: 1s;
    transform: translateX(-250px);
}

.rotate {
    transition: 0.7s;
    transform: rotatey(180deg) translateX(-50px);
}

