@media (orientation: portrait) and (max-width: 599px) {
    /* główna */
    
    #title {
        font-size: 2rem;
        margin-top: 52%;
    }

    #welcome > p {
        display: none;
    }

    .job {
        display: none;
    }

    #signIn {
        width: 6.5em;
        height: 2em;
        top: 15px;
        right: 15px;
    }

    #signIn > p {
        font-size: 0.85rem;
        line-height: 2.2em;
    }

    #signUp a {
        top: 44px;
        right: 20px;
        font-size: 0.9rem;
    }

    /* sidebard */

    #sidebar {
        width: 100%;
        z-index: 4;;
    }

    #avatar {
        width: 60px;
        height: 60px;
    }

    .hide {
        transform: translateX(-100%);
    }

    li {
        line-height: 20px;
    }

    li > a {
        font-size: 1.3rem;
    }

    li .icon {
        height: 20px;
        width: auto;
    }

    #sidebar #indexLogo #logo{
        height: 50px;
        width: 50px;
        margin: auto auto 10px auto;
    }

    /* profileSite */

    #profileSite {
        top: 52%;;
        left: 50%;
        width: 18em;
        height: 32em;
    }

    #profileSite div:nth-child(1) {
        height: 4.5em;
    }

    #profileSite div:nth-child(1) img {
        width: 50px;
        height: 50px;
        padding-bottom: 0;
    }

    #profileSite > div:nth-child(1) span {
        font-size: 1rem;
        line-height: 4.7em;
    }

    #profileSite > div:nth-child(3) > div {
        flex-direction: column;
    }

    #profileSite > div:nth-child(3) p {
        font-size: 1.2rem;
    }

    #profileSite > div:nth-child(3) div div {
        width: 18em;
    }

    /* zle zrobiona lista fiszek xd */

    #flashcardList {
        left: 53%;
    }
    
    #flashcardList div div div {
        width: 19em;
    }

    #flashcardList > div:nth-of-type(1) {
        height: 30em;
    }

    #flashcardList div:nth-of-type(1) > div {
        overflow: scroll;
        overflow-x: hidden;
        height: 40em;
    }

    #flashcardList div:nth-of-type(1) div::-webkit-scrollbar {
        width: 0;
    }  
    
    #flashcardList div div div {
        margin: 13px 20px 0px 0px;
    }

    #flashcardList div div img {
        width: 30px;
        height: 30px;
    }

    #flashcardList div div {
        max-height: 86vh;
    }

    #addFlash {
        z-index: 1;
        top: auto;
        bottom: 30px;
        width: 5em;
        font-size: 0.9rem;
        line-height: 1em;
        padding: 5px;
        right: 30px;
    }

    /* klasy */

    #group {
        top: 52%;
        left: 50%;
        width: 18em;
        height: 32em;
        grid-template-columns: 80% 20%;
    }

    #group > h2 {
        font-size: 1.5rem;
    }

    #group #groupList {
        height: 29.5em;
        width: 15em;
    }

    #group #groupList > div {
        width: 12em;
        min-height: 2.7em;
        height: 2.7em;
    }

    #groupList > div > span {
        line-height: 2.7em;
    }

    #group #groupMembers {
        width: 3.4em;
        height: 31.3em;
        border-left: 2px solid #13293D;
    }

    #group #groupMembers > div {
        margin-bottom: 10px;
    }

    #group #groupMembers > div > span {
        display: none;
    }

    /* ranking */

    #ranking {
        left: 50%;
    }

    #standing > div:nth-child(1) {
        flex-wrap: wrap;
    }

    #standing > div:nth-child(1) > div {
        width: 18em;
        min-height: 1em;
        height: 2.8em;
        flex-direction: row;
        justify-content: space-around;
    }

    #standing > div:nth-child(1) div h2 {
        font-size: 1rem;
        font-weight: 500;
        margin-top: 0;
    }

    #standing > div:nth-child(1) div p {
        padding: 3px;
        font-size: 0.8rem;
        width: 4em;
        text-align: center;
        background-color: #E8F1F2;
    }

    #standing > div:nth-child(1) > div > div {
        width: 50px;
    }

    #standing > div:nth-child(1) > div:nth-child(2) > div,
    #standing > div:nth-child(1) > div:nth-child(3) > div {
        width: 42px;
        margin-top: 0.2em;
    }

    #standing > div:nth-child(1) div div img:nth-child(1) {
        width: 44px;
    }

    #standing > div:nth-child(1) div div img:nth-child(2) {
        width: 20px;
    }

    #standing > div:nth-child(1) div:nth-child(2) div img:nth-child(1),
    #standing > div:nth-child(1) div:nth-child(3) div img:nth-child(1) {
        width: 34px;
    }

    #standing > div:nth-child(1) div:nth-child(2) div img:nth-child(2),
    #standing > div:nth-child(1) div:nth-child(3) div img:nth-child(2) {
        width: 18px;
    }

    #standing > div:nth-child(1) > div:nth-child(1) {
        width: 18em;
        height: 4.2em;
    }

    #standing > div:nth-child(2) table {
        width: 18em;
        max-width: 18em;
    }

    #standing > div:nth-child(2) table tr {
        height: 2.3em;
    }
    
    #standing > div:nth-child(2) table td {
        font-weight: 400;
    }

    #standing > div:nth-child(2) table td:nth-of-type(3) {
        padding-right: 10px;
    }

    /* ustawienia */

    #settings {
        left: 50%;
        width: 18em;
        height: 31em;
    }

    #formSettings {
        padding: 20px;
    }

    #formSettings input {
        width: 18em;
        height: 2em;
    }

    #formSettings label {
        font-size: 1rem;
    }

    #formSettings textarea {
        width: 17em;
        margin-bottom: 30px;
    }

    #settAvatar img {
        width: 60px;
        height: 60px;
    }

    #settAvatar div {
        line-height: 60px;
    }

    #settAvatar div input::before {
        width: 6em;
    }

    #formSettings input[type=submit] {
        margin: 40px auto;
        width: 15em;
        font-size: 1rem;
        padding: 3px;
        height: 2em;
    }

    /* friends list */

    #friendsList {
        min-width: 20em;
        left: 50%;
        min-width: auto;
        overflow: scroll;
        overflow-x: hidden;
    }

    #friendsList::-webkit-scrollbar {
        width: 0;
    }

    #friendsList > form {
        height: 33em;
    }

    #friendsList > form > .friendsTop {
        position: sticky;
        top: 0;
        z-index: 2;
    }

    #friendsList > form > .friendsTop > input {
        width: 12em;
        height: 2em;
    }

    #friendsList > form > .friendsTop > div.customSelect select {
        height: 2em;
        width: 8em;
        padding: 0;
    }

    #friendsList > form > .friendsTop > div.customSelect::after {
        display: none;
    }

    #friendsList > form > table {
        width: 20em;
        min-width: 20em;
    }

    #friendsList > form > table tr {
        height: 3em;
    }

    #friendsList > form > table tr > td:nth-of-type(1) {
        width: 6em;
    }

    #friendsList > form > table tr > td:nth-of-type(2) {
        width: 5em;
    }

    #friendsList > form > table tr > td:nth-of-type(3) {
        min-width: 2em;
        font-size: 0rem;
    }

    /* nauka */

    #learn {
        left: 50%;
        top: 50%;
        width: 18em;
    }

    div.flashLearn {
        width: 18em;
        height: 25em;
    }

    div.flashLearn form input {
        width: 9.5em;
    }

    div.flashLearn form button {
        width: 5.3em;
    }

    /* dodawanie fiszek */

    #createSet {
        top: 50%;
        left: 50%;
    }

    #createSet form {
        flex-direction: row;
        flex-wrap: wrap;
        width: 18em;
        max-height: 30em;
    }

    #createSet form > h2 {
        font-size: 1.3rem;
    }
    
    #createSet form div:nth-of-type(1) p {
        font-size: 1.1rem;
    }

    #createSet form > div:nth-of-type(1) input {
        width: 19em;
        padding-left: 0;
    }

    #createSet form > div:nth-of-type(2) {
        width: 18em;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #createSet div.customSelect {
        margin: 15px 0 0 0;
        width: 17em;
    }

    #createSet form > div:nth-of-type(2) > div.customSelect select {
        width: 20em;
        height: 2em;
    }

    #createSet div.customSelect:after {
        right: 10px;
    }

    #createSet form > #overflowSet div.flashcard {
        width: 15.5em;
        height: 5em;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin-right: 5px;
        margin-top: 30px;
    }

    #createSet form > #overflowSet div.flashcard > div.position {
        display: none;
    }

    #createSet form > #overflowSet div.flashcard > div > input {
        width: 15em;
        font-size: 0.9rem;
    }

    #createSet form > #overflowSet::-webkit-scrollbar {
        width: 0px;
    }

    #createSet form > #overflowSet div.flashcard > div > label {
        font-size: 0.9rem;
    }

    #createSet form > #addFlashcard {
        margin: 5px 7em 0 auto;
        padding: 5px;
        font-size: 0.9rem;
    }

    #createSet > form > input[type=submit] {
        position: absolute;
        width: 4em;
        height: 2em;
        min-height: 2em;
        top: -30px;
        right: 3px;
    }

    /* rejestracji */

    #left {
        display: none;
    }

    #right {
        width: 20em;
        height: 33em;
    }

    #progress div:nth-child(odd) {
        width: 45px;
        height: 45px;
    }

    #progress {
        top: 6em
    }

    #progress div:nth-child(odd) p {
        font-size: 1.4rem;
        line-height: 45px;
    }

    #progress div:nth-child(even) {
        width: 50px;
        height: 7px;
    }

    #right form {
        margin-top: 150px;
    }

    #right form input[type=text], input[type=password] {
        width: 17em;
        margin-bottom: 24px;
    }

    #right form div.profile-picture {
        width: 50px;
        height: 50px;
    }

    .przycisk {
        width: 5em;
        height: 2.5em;
    }

    .dalej, .send {
        margin: 3vh 1vw auto 6em;
    }

    .three select {
        width: 17em;
        border-radius: 10px;
        height: 2.5em;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        padding: 1px;
        font-size: 0.9rem;
    }

    .three label:nth-of-type(2) {
        margin-top: 20px;
    }

    .three textarea {
        width: 18.5em;
        height: 5em;
    }

    .two {
        max-width: 15em;
    }

    .two input[type=text] {
        margin-left: auto;
        width: 16em;
    }

    #right form div div {
        flex-wrap: wrap;
        max-width: 17em;
    }

    .fileContainer {
        margin-top: 10px;
        width: 15em;
        height: 2.5em;
        line-height: 2.5em;
        text-align: center;
        padding: 0;
    }

}