:root {
    --color-white: #E8F1F2;
    --color-background: #1B98E0;
    --color-lapis: #247BA0;
    --color-sea-blue: #006494;
    --color-yankees-blue: #13293D;
}

* {
    margin: 0;
    padding: 0;
    --czcionka: 'Open Sans' , sans-serif;
    color: var(--color-white);
}

body {
    background-color: var(--color-background);
}

/* PANEL NAWIGACYJNY */

#sidebar {
    color: var(--kolor-white);
    position: fixed;
    height: 100vh;
    width: 250px;
    background-color: var(--color-yankees-blue);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: var(--czcionka);
    font-weight: 250;
    transition: 1s;
}

#arrow {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 10px;
    right: 15px;
}

#avatar {
    width: 70px;
    height: 70px;
    background-color: grey;
    border-radius: 100%;
    margin: 90px auto 45px auto;
}

li {
    margin: 6px 0px 6px 0px;
    display: block;
    padding: 5px 0 5px 20px;
    line-height: 25px;
}

li > a{ 
    text-decoration: none;
    font-size: 30px;
}

li:hover {
    background-color:  var(--color-lapis);
}

a:visited {
    color: var(--kolor-tekstu);
}

li .icon {
    height: 25px;
    width: 25px;
    padding-right: 7px;
}

#sidebar #logo {
    height: 50px;
    width: 50px;
    display: block;
    margin: auto auto 40px auto;
}

.hide {
    transform: translateX(-250px);
}

.rotate {
    transition: 0.7s;
    transform: rotatey(180deg) rotateX(180deg) translateX(-50px);
}

/* STRONA GŁÓWNA */

#signIn {
    background-color: var(--color-sea-blue);
    width: 7vw;
    height: 4vh;
    position: absolute;
    top: 30px;
    right: 60px;
    border-radius: 30px;
}

#signUp a {
    position: absolute;
    right: 70px;
    top: 70px;
    text-decoration: none;
    font-family: var(--czcionka);
}

#signIn:hover {
    background-color: var(--color-lapis);
}

#signIn > p {
    display: block;
    text-align: center;
    padding: calc();
    font-family: var(--czcionka);
    letter-spacing: 2px;
    font-size: 17px;
    line-height: 4vh;
    font-weight: 550;
    color: var(--color-yankees-blue);
}

#welcome {
    padding-top: 27vh;
    padding-left: 25vw;
    font-family: var(--czcionka);
    width: 55vw;
}

#title {
    font-size: 70px;
    font-weight: 500;
    letter-spacing: 6px;
    padding-bottom: 70px;
}

#welcome > p {
    font-size: 60px;
    letter-spacing: 4px;
}

.job {
    padding-top: 80px;
    height: 100px;
    width: 100px;
    margin: 0px 30px 0px 0px;
}

/* LEWA CZĘŚC REJESTRACJI */

#left {
    height: 100vh;
    width: 50vw;
    background-color: var(--color-yankees-blue);
    font-size: 60px;
    font-family: var(--czcionka);
    font-weight: 400;
    line-height: 60px;
}

#left div img {
    height: 60px;
    width: 60px;
}

#left div {
    position: absolute;
    left: 25vw;
    top: 50vh;
    transform: translateX(-50%) translateY(-50%);
}

/*REJESTRACJA */

#right {
    height: 100vh;
    width: 50vw;
    background-color: var(--color-background);
    font-family: var(--czcionka);
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/*REJESTRACJA: Progress bar */

#progress {
    position: fixed;
    top: 22vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#progress  div:nth-child(odd) {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    background-color: lightgrey;   
}

#progress div:nth-child(odd) p {
    text-align: center;
    line-height: 60px;
    font-size: 2rem; 
    font-family: var(--czcionka);
}

#progress div:nth-child(even) {
    width: 120px;
    height: 10px;
    margin: auto 0 auto 0;
    background-color: lightgrey;
}

#progress div.active {
    background-color: var(--color-yankees-blue);
}

#right form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    min-height: 300px;
}

#right form input[type=text], input[type=password] {
    border-radius: 20px;
    color: black;
    margin-bottom: 43px;
    border-style: 1px solid var(--color-white);
    padding: 10px;
    width: 18vw;
}

label {
    display: block;
}

/* second form */
#right form div div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#right form div.profile-picture {
    background-color: grey;
    border-radius: 100%;
    width: 80px;
    height: 80px;
}

.fileContainer {
    overflow: hidden;
    position: relative;
    display: block;
    background-color: var(--color-white);
    border-radius: 20px;
    color: black;
    padding: 10px;
}

.fileContainer input[type=file] {
    cursor: inherit;
    display: block;
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}

/* thrid form */

.three select {
    width: 18vw;
    height: 5vh;
    color: black;
    font-size: 1rem;
    background-color: var(--color-white);
    border: 1px solid var(--color-white);
    padding: 10px;
    box-shadow: 0 15px 30px -10p var(--color-lapis);
}

.three select option {
    color: black;
    line-height: 200%;
}

.three textarea {
    width: 18vw;
    height: 10vh;
    resize: none;
    color: black;
    padding: 3px;
    background-color: var(--color-white);
}

/* buttons */

.przycisk {
    width: 12vh;
    height: 4vh;
    border-radius: 20px;
    color: var(--color-white);
    background-color: var(--color-yankees-blue);
    border: 1px solid var(--color-yankees-blue);
}

.cofnij {
    margin: 3vh auto auto 1vw;
}

.dalej, .send {
    margin: 3vh 1vw auto 4vw;
}

.display {
    display: none;
}

/* lista fiszek */

#flashcardList {
    display: flex;
    flex-direction: rowś;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#flashcardList div div {
    max-height: 60vh;
}

#flashcardList div:nth-of-type(1) div {
    overflow: auto;
}

#flashcardList div div div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 9vh;
    width: 90vh;
    background-color: var(--color-white);  
    margin: 20px; 
    margin-left: 0px;
    border-radius: 15px; 
}

#flashcardList div p:first-child {
    font-size: 1.5rem;
    font-family: var(--czcionka);
    margin-top: 20px;
}

#flashcardList div div img {            
    display: block;
    background-color: grey;
    margin-left: 10px;
    width: 3vw;
    height: 3vw;
}

#flashcardList div div p {
    color: black;
    padding: 10px;
}

#flashcardList div:nth-of-type(1) div::-webkit-scrollbar {
    background-color: var(--color-background);
}

#flashcardList div:nth-of-type(1) div::-webkit-scrollbar-thumb {
    background-color: var(--color-white);
    border-radius: 10px;
}

/* animacja */

#animation #animationHide {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 40vh;
    background-color: var(--color-background);
    z-index: 1;
}

#animation img {
    width: 3vw;
    position: fixed;
}

#animation img:nth-of-type(1) {
    animation: img1 5s infinite linear;
}

@keyframes img1 {
    0% { left: 20%; bottom: 20%; transform: rotate(-50deg); }
    25% { left: 35%; bottom: 38%; transform: rotate(-42deg);}
    50% { left: 50%; bottom: 50%; transform: rotate(0deg); }
    75% { left: 75%; bottom: 38%; transform: rotate(42deg);}
    100% { left: 80%; bottom: 20%;; transform: rotate(50deg); }
}

/* strona profilowa */

#profileSite {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translateX(-50%) translateY(-50%);
    background-color: var(--color-white);
    width: 70vw;
    height: 80vh;
    border-radius: 20px;
    padding: 2%;
}

#profileSite div:nth-child(1) {
    border-bottom: 2px solid var(--color-background);
    height: 15vh;
}

#profileSite div:nth-child(1) img {
    display: block;
    background-color: grey;
    border-radius: 100%;
    width: 130px;
    height: 130px;
}

#profileSite div:nth-child(1) p {
    font-family: var(--czcionka);
    color: black;
    font-size: 30px;
}
