:root {
    --color-white: #E8F1F2;
    --color-background: #1B98E0;
    --color-lapis: #247BA0;
    --color-sea-blue: #006494;
    --color-yankees-blue: #13293D;
}

* {
    margin: 0;
    padding: 0;
    --czcionka: 'Open Sans' , sans-serif;
    color: var(--color-white);
}

body {
    background-color: var(--color-background);
}

/* PANEL NAWIGACYJNY */

#sidebar {
    color: var(--kolor-white);
    position: fixed;
    height: 100vh;
    width: 250px;
    background-color: var(--color-yankees-blue);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: var(--czcionka);
    font-weight: 250;
    transition: 1s;
}

#arrow {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 10px;
    right: 15px;
}

#avatar {
    width: 70px;
    height: 70px;
    background-color: grey;
    border-radius: 100%;
    margin: 90px auto 45px auto;
}

li {
    margin: 6px 0px 6px 0px;
    display: block;
    padding: 5px 0 5px 20px;
    line-height: 25px;
}

li > a{ 
    text-decoration: none;
    font-size: 30px;
}

li:hover {
    background-color:  var(--color-lapis);
}

a:visited {
    color: var(--kolor-tekstu);
}

li .icon {
    height: 25px;
    width: 25px;
    padding-right: 7px;
}

#sidebar #logo {
    height: 50px;
    width: 50px;
    display: block;
    margin: auto auto 40px auto;
}

.hide {
    transform: translateX(-250px);
}

.rotate {
    transition: 0.7s;
    transform: rotatey(180deg) rotateX(180deg) translateX(-50px);
}

/* STRONA GŁÓWNA */

#signIn {
    background-color: var(--color-sea-blue);
    width: 7vw;
    height: 4vh;
    position: absolute;
    top: 30px;
    right: 60px;
    border-radius: 30px;
}

#signUp a {
    position: absolute;
    right: 70px;
    top: 70px;
    text-decoration: none;
    font-family: var(--czcionka);
}

#signIn:hover {
    background-color: var(--color-lapis);
}

#signIn > p {
    display: block;
    text-align: center;
    padding: calc();
    font-family: var(--czcionka);
    letter-spacing: 2px;
    font-size: 17px;
    line-height: 4vh;
    font-weight: 550;
    color: var(--color-yankees-blue);
}

#welcome {
    padding-top: 27vh;
    padding-left: 25vw;
    font-family: var(--czcionka);
    width: 55vw;
}

#title {
    font-size: 70px;
    font-weight: 500;
    letter-spacing: 6px;
    padding-bottom: 70px;
}

#welcome > p {
    font-size: 60px;
    letter-spacing: 4px;
}

.job {
    padding-top: 80px;
    height: 100px;
    width: 100px;
    margin: 0px 30px 0px 0px;
}

/* LEWA CZĘŚC REJESTRACJI */

#left {
    height: 100vh;
    width: 50vw;
    background-color: var(--color-yankees-blue);
    font-size: 60px;
    font-family: var(--czcionka);
    font-weight: 400;
    line-height: 60px;
}

#left div img {
    height: 60px;
    width: 60px;
}

#left div {
    position: absolute;
    left: 25vw;
    top: 50vh;
    transform: translateX(-50%) translateY(-50%);
}

/*REJESTRACJA */

#right {
    height: 100vh;
    width: 50vw;
    background-color: var(--color-background);
    font-family: var(--czcionka);
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/*REJESTRACJA: Progress bar */

#progress {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#progress  div:nth-child(odd) {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    background-color: lightgrey;   
}

#progress div:nth-child(odd) p {
    text-align: center;
    line-height: 60px;
    font-size: 2.5vh; 
    /* POCZYTAJ O REM */
    font-family: var(--czcionka);
}

#progress div:nth-child(even) {
    width: 120px;
    height: 10px;
    margin: auto 0 auto 0;
    background-color: lightgrey;
}

#progress div.active {
    background-color: var(--color-yankees-blue);
}

#right form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    min-height: 300px;
}

#right form .form {
    border-radius: 20px;
    color: black;
    margin-bottom: 43px;
    border-style: solid;
    padding: 10px;
}

label {
    display: block;
}

#right form div.profile-picture {
    background-color: grey;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    /* position: absolute; */
}

.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.przycisk {
    width: 12vh;
    height: 4vh;
    border-radius: 20px;
    color: var(--color-white);
    background-color: var(--color-yankees-blue);
    border: 1px solid var(--color-yankees-blue);
}

.cofnij {
    margin: 3vh auto auto 1vw;
}

.dalej {
    margin: 3vh 1vw auto 4vw;
}

.display {
    display: none;
}