* {
    --color: #13293D;
    --color2: #006494;
    --font: 'Roboto', sans-serif;
}

html {
    margin: 0;
    padding: 0;
    font-family: var(--font);
    font-weight: 400;
    background-color: var(--color2);
    color: white;
}

body {
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
}

/* menu */

.menu {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color);
    padding: 40px 0px 40px 5px;
    box-sizing: border-box;
    position: absolute;
    z-index: 3;
    transition: 1s;
}

.menu--hide {
    transform: translateX(-100%);
}

.menu__button {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 25px;
    width: 25px;
    transition: .5s;
}

.menu__button--clicked {
    transform: rotatey(180deg) rotateX(180deg) translateX(-50px)
}

.menu__avatar {
    width: 70px;
    height: 70px;
    background-color: grey;
    border-radius: 50%;
    margin-bottom: 20px;
}

.menu__list {
    list-style-type: none;
    padding: 0px;
    width: 100%;
    flex: 1;
}

.menu__component:hover {
    background-color: var(--color2);
}

.menu__link {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.menu__component {
    margin-bottom: 10px;
}

.menu__icon {
    width: 20px;
}

.menu__logo {
    width: 50px;
}

/* index */
    
.welcome {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 10px;
}

.welcome__title, .welcome__description {
    margin-bottom: 10px;
    display: block;
    width: 100%;
}

.welcome__job {
    height: 50px;
    width: 50px;
    margin-right: 30px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: absolute;
    top: 15px;
    right: 15px;
}

.buttons__link {
    text-decoration: none;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 20px;
    padding: 5px;
    font-size: 1rem;
    color: var(--color2);
}

/* profile */

.profileSite {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.profileSite__userinfo {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileSite__username, .profileSite__header {
    color: black;
}

/* logowanie */

.sign {
    background-color: white;
    border-radius: 10px;
    position: absolute;   
    padding: 7px;
    box-sizing: border-box;
    top: 50%; 
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.sign__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 270px;
}

.sign__header {
    color: var(--color2);
}

.sign__input {
    margin: 5px;
    padding: 5px;
    border: 2px solid var(--color);
    border-radius: 5px;
}

.sign__submit {
    background-color: transparent;
    border: 2px solid var(--color);
    margin: 5px;
}

.sign__label {
    color: black;
}

/* lista fiszek */

.flashcardList {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    height: 50%;
}

.flashcardList__box {
    overflow-y: scroll;
    height: 100%;
    -ms-overflow-style: none;
}

.flashcardList__box::-webkit-scrollbar {
    display: none;
}

.flashcardList__element {
    background-color: white;
    display: flex;
    align-items: center;
    width: 280px;
    height: 50px;
    text-decoration: none;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 10px;
}

.flashcardList__img {
    height: 100%;
    margin-right: 10px;
    width: 50px;
}

.flashcardList__title {
    color: var(--color);
}

/* nauka */

.scene {
    width: 100%;
    height: 280px;
    margin: 40px 0;
    perspective: 600px;
  }
  
  .card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }
  
  .card.is-flipped {
    transform: rotateX(180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 260px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .card__face--front {
    background: red;
  }
  
  .card__face--back {
    background: blue;
    transform: rotateX(180deg);
  }
  

@media (min-width: 768px) {
    .menu {
        width: 300px;
    }

    .buttons__link {
        font-size: 1.3rem;
    }

    .flashcardList__element {
        width: 500px;
    }
}